h3,
h2 {
  font-family: Agbalumo;
}

section {
  padding: 50px;
}

.main {
  width: 100%;
  Height: 100%;
  margin: 0;
}

body {
  background-color: rgb(179, 185, 189);
  width: 100%;
  height: 100%;
  margin: 0;
}

.dropdown-item:hover {
  background-color: #f8f9fa;
  /* Light gray background */
  color: #007bff;
  /* Bootstrap primary color for text */
}

a {
  color: unset;
  text-decoration: none;
}

.container1111 {
  width: 100%;
  text-align: center;
  margin-top: 80px;
  padding-top: 10px;
  padding: 10px;
}

.custom-container {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(7px);
  border-radius: 15px;
  margin-top: 20px;
  padding: 20px;
  width: 100%;
  /* Full width for the container */
}


.title {
  font-size: xx-large;
  padding: 20px 0;
}

.listProduct .item img {
  width: 90%;
  filter: drop-shadow(0 50px 20px #0009);
}

.listProduct {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.listProduct .item {
  background-color: #EEEEE6;
  padding: 20px;
  border-radius: 20px;
}

.listProduct .item h2 {
  font-weight: 500;
  font-size: large;
}

.listProduct .item .price {
  letter-spacing: 3px;
  font-size: small;
}

/* Detail page */
.detail {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  text-align: left;
}

.detail .image img {
  width: 100%;
}

.detail .image {
  position: relative;
}

.detail .image::before {
  position: absolute;
  width: 300px;
  height: 300px;
  content: '';
  background-color: #94817733;
  z-index: -1;
  border-radius: 190px 100px 170px 180px;
  left: calc(50% - 150px);
  top: 50px;
}

.detail .name {
  font-size: xxx-large;
  padding: 40px 0 0 0;
  margin: 0 0 10px 0;
}

.detail .product_type {
  font-size: large;
  color: grey;
}

.detail .price {
  font-weight: bold;
  font-size: x-large;
  letter-spacing: 5px;
  margin-bottom: 0px;
}

.detail .description {
  font-weight: 300;
  margin-top: 30px;
  margin-bottom: 30px;
}

.detail .description p {
  margin: 10px 0;
}

.detail .description h3 {
  margin-bottom: 20px;
}





.breadcrumb-item a {
  text-decoration: underline;
  color: rgb(33, 37, 41);
  font-size: large;
  font-weight: 600;
}

.star-light {
  color: #999 !important
}

.text-warning {
  color: goldenrod;
}


.submit_star {
  cursor: pointer;
}

/* iPad */
@media only screen and (max-width: 992px) {
  .listProduct {
    grid-template-columns: repeat(3, 1fr);
  }

  .detail {
    grid-template-columns: 40% 1fr;
  }
}

/* Mobile */
/* Mobile */
@media only screen and (max-width: 768px) {
  .listProduct {
    grid-template-columns: repeat(2, 1fr);
  }

  .detail {
    text-align: center;
    grid-template-columns: 1fr;
    width: 100%;
    /* Ensure full width on mobile */
  }

  .detail .image img {
    width: 100%;
    /* Ensure image fills the width */
    height: auto;
    /* Maintain aspect ratio */
  }

  .detail .name {
    font-size: x-large;
    margin: 0;
  }

  .detail .buttons button {
    font-size: small;
  }

  .detail .buttons {
    justify-content: center;
  }

  .detail .description {
    text-align: left;
  }
}


#display_review {
  max-height: 400px;
  overflow-x: hidden;
  width: 100%;
  overflow-y: auto;
  height: 400px;
}

.holder {
  cursor: pointer;
}