body {
    background-color: rgb(179, 185, 189);
  }

  .breadcrumb-item a {
    text-decoration: underline;
    color: rgb(33, 37, 41);
    font-size: large;
    font-weight: 600;
    margin-left: 0px;
  }



  section {
    padding-top: 60px 0;
  }

  .divider-custom {
    width: 12rem;
    height: 2px;
    background-color: rgb(255, 128, 0);
    margin: 5px auto;
}